<section class="main">
  <div class='row fightArena'>
    <div class="col-md-4 leftPlayer">
      <img id="warrior" class="faceRight" src="images\warrior.jpg">
    </div>
    <div class="col-md-2 actionMenu">
      <span id="attackSelector"></span>Attack<br/>
      <span id="defendSelector"></span>Defend<br/>
      <span id="magicSelector"></span>Magic<br/>
      <span id="itemSelector"></span>Item<br/>
    </div>

    <div class="col-md-6 rightplayer">
      <img id="dragon" class="enemyImage" src="images\dragon.jpg">
    </div>

    </div>
</section>