<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Choose your character:</h3>
        </div>
        <div class="panel-body">
          <div class='row'>
            <div class="col-md-3 char1">
              <img class="characterImage" src="images\warrior.jpg">
            </div>
            <div class="col-md-3 char2">
              <img class="characterImage" src="images\warrior.jpg">
            </div>
            <div class="col-md-3 char3">
              <img class="characterImage" src="images\warrior.jpg">
            </div>
            <div class="col-md-3 char4">
              <img class="characterImage" src="images\warrior.jpg">
            </div>
          </div>
        </div>
      </div>    
    </div>

    <div class="col-sm-12 col-md-5">
      <div class="connect">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Bio:</h3>
          </div>
          <div class="panel-body bioDisplay">
          </div>
        </div>    
      </div>
    </div>
  </div>
  <div class="row characterSelection">
    <div class="col-md-12 selectedCharacter">
      <a href="fight">Select this character</a>
    </div>
  </div>
</section>